<!-- admins/server_recordings.html.erb -->

<div class="container pt-6" style="direction:rtl; text-align:right;">
  <%= render "shared/components/subtitle", subtitle: t("administrator.title"), search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <%= render "admins/components/menu_buttons" %>
    </div>
    <div id="server_recordings" class="col-lg-9">
        <%= render "admins/components/setting_view", setting_id: "recordings", setting_title: t("administrator.recordings.title"), search: true %>
    </div>
  </div>
</div>
