<!-- admins/site_settings.html.erb -->

<div class="container pt-6" style="direction:rtl; text-align:right;">
  <%= render "shared/components/subtitle", subtitle: t("administrator.title"), search: false %>

  <div class="row">
    <div class="col-lg-3 mb-4">
      <%= render "admins/components/menu_buttons" %>
    </div>
    <div id="site_settings" class="col-lg-9">
      <%= render "admins/components/setting_view", setting_id: "settings", setting_title: t("administrator.site_settings.subtitle"), search: false %>
    </div>
  </div>
</div>