<!-- admins/components/_admins_role -->
<button style="<%= "background-color: #{role_colour(role)};border-color: #{role_colour(role)}" %>" class="user-role btn btn-sm" onclick="filterRole('<%= role.name %>')">
  <%= translated_role_name(role) %>
</button>
