<!-- errors/bigbluebutton_error.html.erb -->

<div class="container text-center pt-9">
  <div class="display-1 text-muted mb-5"><%= t("errors.bigbluebutton.title") %></div>
  <h1 class="h2 mb-3"><%= t("errors.bigbluebutton.message") %></h1>
</div>
