<!-- shared/components/_cookie_warning.html.erb  -->

  <% if cookies && cookies['cookie_consented'] != 'true' %>
    <div class="primary-lighten cookies-banner fixed-bottom text-center d-inline-block">
      <div class="cookies-banner-content py-3">
        <span class="cookies-warning-text pr-5">
          <%= t("cookies.cookie_info") %>
        </span>
        <span class="cookies-warning-button d-inline-block">
          <button id="cookies-agree-button" class="btn customBtn primary-regular"><%= t("cookies.cookie_button") %></button>
        </span>
      </div>
    </div>
  <% end %>
